includes:
    - /vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 5
    paths:
        - /home/jason/Containers/fool/plugins/
        - /home/jason/Containers/fool/themes/
    ignoreErrors:
        - 
            messages: 
                - "#^Variable [.][a-zA-Z] might not be defined.$#"
